@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Unbounded:wght@200..900&display=swap");
/* GLOBALES */
.custom-body-class {
    font-family: "Poppins", sans-serif;
    padding: 0;
    box-sizing: border-box;
    background-color: #fffffe;
    scroll-behavior: smooth;
}

a {
    text-decoration: none !important;
    all: unset;
    cursor: pointer;
}

/* BOTONES */
button {
    padding: 5px;
    border: solid 2px #33272a;
    color: #282733;
    background-color: #ffc6c7;
    border-radius: 1000px;
    transition: all 0.3s ease;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
}

button:hover {
    border-color: #33272a;
    color: #33272a;
    background-color: #ff8ba7;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
}
.button-up-container {
    position: fixed;
    bottom: 20px;
    right: 20px;
    opacity: 0;
    transition: opacity 0.3s;
}

.button-up-container.visible {
    opacity: 1;
}

.button-up {
    border-radius: 100%;
    height: 40px;
    width: 40px;
}

/* ITEM COUNT  */
.button-count-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 5px;
    border: solid 2px #33272a;
    padding: 1px;
    font-size: 0.8em;
}

/* ERROR NOTIFICACIONES */

.notification-popup{
    margin: 20px;
    padding: 5px;
    text-align: center;
    font-size: 15px;
    font-weight: bolder;
    background-color: #ff8ba7;
}

/* NAVBAR */
.nav-bar {
    display: flex;
    background-color: #ffc6c78c;
    transition: background-color 0.3s;
}

.nav-bar:hover {
    background-color: #ff8ba7;
}

.navbar-brand {
    font-weight: bold;
    font-size: 1.2em;
    margin-right: 20px;
}

.nav-link {
    color: #fffffe;
    transition: color 0.3s;
}

.nav-link:hover {
    color: #ff8ba7;
}

.cart-market {
    color: #33272a;
    font-size: 1.2em;
    padding: 30px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: center;
    align-items: center;
    justify-content: center;
    gap: 1em;
}

.cartWidget-total {
    background-color: #c3f0ca;
    border-radius: 50%;
    width: 50px; /* Ajusta este valor según el tamaño deseado */
    height: 50px; /* Ajusta este valor según el tamaño deseado */
    padding: 1em;
    display: flex;
    justify-content: center;
    align-items: center;
}
/* HEADER */
.container-head {
    padding: 200px;
    background-image: url("../src/assets/fondo-pagina.jpg");
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
    display: flex;
    justify-content: center;
    box-shadow: 0px 0px 20px 5px rgba(40, 39, 51, 0.5);
}

.logo {
    font-size: 5em;
    font-weight: 900;
    color: #fffffe;
    padding: 50px;
    border: solid 4px #fffffe;
}

/* FOOTER */
.footer {
    margin-top: 2em;
    display: flex;
    flex-direction: column;
    gap: 0.1em;
    justify-content: center;
    align-items: center;
    bottom: 0;
    width: 100%;
    background-color: #ff8ba7;
    padding: 5px;
    color: #33272a;
    font-weight: 800;
}

/* ITEM LIST CONTAINER */
.container-item-list {
    margin-top: 2em;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px;
    background-color: #faeee7;
}

.item-list-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    max-width: 1200px;
    background-color: #fffffe;
    padding: 20px;
    border-radius: 20px;
}

/* ITEM */
.item-wrapper {
    position: relative;
    flex: 1 1 calc(50% - 40px);
    max-width: 600px;
    background-color: #faeee7;
    gap: 0.5em;
    padding: 20px;
    display: flex;
    align-items: center;
    flex-direction: column;
    box-shadow: 0px 5px 10px rgba(40, 39, 51, 0.3);
}

.item-title-text {
    padding: 0.5em;
    font-weight: bold;
    font-size: 1.4em;
    color: #33272a;
    font-family: "Unbounded", sans-serif;
    text-align: center;
}

.item-content-wrapper {
    display: flex;
    width: 100%;
    align-items: center;
    flex-wrap: wrap;
    align-content: center;
    flex-direction: row-reverse;
    position: relative;
}

.item-title-text-wrapper {
    display: flex;
}

.item-count .button-count-wrapper {
    font-size: 10px;
}

.img-wrapper,
.info-wrapper {
    width: 50%;
}

.text-wrapper {
    color: #020003;
}

.img-wrapper {
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.img-wrapper img {
    max-width: 100%;
    max-height: 100%;
    background-color: #33272a;
    padding: 2px;
    margin: 5px;
    object-fit: contain;
}

.info-wrapper {
    display: flex;
    gap: 1em;
    padding: 20px;
    flex-direction: row;
    justify-content: space-evenly;
    flex-wrap: wrap;
    align-items: center;
    align-content: space-around;
}

.item-description-text {
    font-size: 15px;
    font-weight: 600;
    text-align: left;
    padding: 5px;
}

.item-category-text {
    background-color: #ff8ba7;
    padding: 4px;
    border: solid 1px #33272a;
    color: #faeee7;
    border-radius: 40px;
    text-align: center;
    width: 40%;
}

.item-description-text {
    color: gray;
}

/* ITEM DETAIL */

.main-item-detail {
    position: relative; 
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-image: url("../src/assets/fondo-pagina.jpg");
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
    z-index: 0; 
}

.main-item-detail::before {
    content: ''; 
    position: absolute; 
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: inherit; 
    filter: blur(5px); 
    z-index: -1; 
}
.item-detail-container {
    width: 80%;
    max-width: 600px;
    padding: 20px;
    background-color: #faeee7;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    margin: auto;
}

.item-detail-wrapper {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 3em;
    flex-wrap: nowrap;
    justify-content: center;
}

.img-item-detail-wrapper {
    border: solid 3px #33272a;
}

.item-detail-img {
    width: 100%;
    max-width: 100%;
    height: auto;
}
.item-detail-title{
    padding: 30px;
    text-align: center;
    font-family: "Unbounded", sans-serif;
    font-size: 30px;
    color: #33272a;
    font-weight: 600;
}

.item-detail-stock{
    margin-top: 20px;
    padding: 5px;
    text-align: center;
    color: #33272a;
    font-weight: bold;
}

.item-detail-descrip{
    margin-top: 30px;
    padding: 20px;
    background-color: #ffc6c7;
    color: #33272a;
    font-size: 18px;
}
/*CHECKOUT */

.container-checkout {
    display: flex;
    align-content: center;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    gap: 5em;
}

/* animacion loading del checkout */

.processing-order {
    text-align: center;
    margin-top: 20px;
}

.loader-checkout {
    height: 4px;
    width: 130px;
    --c: no-repeat linear-gradient(#6100ee 0 0);
    background: var(--c), var(--c), #d7b8fc;
    background-size: 60% 100%;
    animation: l16 3s infinite;
}

@keyframes l16 {
    0% {
        background-position: -150% 0, -150% 0;
    }
    66% {
        background-position: 250% 0, -150% 0;
    }
    100% {
        background-position: 250% 0, 250% 0;
    }
}

/* animacion loading */

.loader-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.loader {
    width: 120px;
    height: 22px;
    border-radius: 20px;
    color: #514b82;
    border: 2px solid;
    position: relative;
}

.loader::before {
    content: "";
    position: absolute;
    margin: 2px;
    inset: 0 100% 0 0;
    border-radius: inherit;
    background: currentColor;
    animation: l6 2s infinite;
}

@keyframes l6 {
    100% {
        inset: 0;
    }
}

/* animación de los FORMS */

@keyframes shake {
    0% {
        transform: translateX(0);
    }
    20% {
        transform: translateX(-5px);
    }
    40% {
        transform: translateX(5px);
    }
    60% {
        transform: translateX(-5px);
    }
    80% {
        transform: translateX(5px);
    }
    100% {
        transform: translateX(0);
    }
}

.shake {
    animation: shake 0.4s ease-in-out;
}
